$primary-color : #FFBE2E;
$text-color : #000000;
$shadow-color : #FFEECC;
$btn-color : #ff9a00;

body {
    background-color: lighten($primary-color, 10%);
}

// Navbar
.navbar {
    margin-top: 10px;
    font-family: 'Kanit', sans-serif;

    .navbar-brand {
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 2px;
        text-shadow: -1px 1px rgba($shadow-color, 2);
        
        img {
            width: 40px;
            height: 40px;
        }
    }
    
    .nav-item {
        font-size: 16px;
        color: $text-color !important;
        letter-spacing: 1px;
        
        @media screen and (min-width: 992px){
            margin: 0 25px;
            // box-shadow: 0px -2px rgba($shadow-color, 0.6);
            text-shadow: -1px -1px rgba($shadow-color, 2);

            &:hover {
                border-radius: 15px;
                // box-shadow: 0px 2px rgba($shadow-color, 0.7);
                text-shadow: 2px 2px rgba($shadow-color, 2);
            }
        }
    }

    .last-item-link {
        margin-right: 0;
    }
}

// Content
.content {
    .middle-section {
        margin: 60px 0;

        img {
            width: 80vmax;
        }
    }

    .img-large {
        width: 120px;
        height: 120px;
        margin: 0;
        padding: 0;
    }

    h4 {
        font-size: 18px;
        text-transform: uppercase;
        text-shadow: 2px 2px rgba($shadow-color, 2);
    }

    p {
        font-size: 14px;
    }

    .btn-custom {
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 50px;
        text-shadow: 1px 1px rgba($shadow-color, .6);
        background-color: $btn-color;
        box-shadow: 1px 1px rgba($shadow-color, .9);
        
        @media screen and (min-width: 992px){
            font-size: 12px;

            &:hover {
                font-size: 9px;
                box-shadow: -2px -1px rgba($shadow-color, .7);
            }
        }
    }
}

// Footer
.footer {
    p {
        font-size: 12px;
    }
}